body {
  font-family: 'Montserrat', sans-serif;
}

li:hover {
  opacity: 0.5;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

#main-container {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    padding: 60px;
    margin-top: 30px;
    background: rgba(82, 82, 82, 0.5);
    color: #ffffff;
  }

#nav {
  
  z-index: 1;
    height: 100px;
    padding: 30px;
    margin-bottom: -100px;
}





  /* Responsive iPhone 6++ ============================================================== */
  
  @media screen and (max-width:476px) {
      .container {
        margin-top: 100px;
      }
  }