

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

#main-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    padding: 60px;
    margin-top: 30px;
    background: rgba(82, 82, 82, 0.5);
    color: #ffffff;
  }

  nav {
    position: relative;
    z-index: 1;
  }






  /* Responsive iPhone 6++ ============================================================== */
  
  @media screen and (max-width:476px) {
      .container {
        margin-top: 100px;
      }
  }