
body {
    background-image: url("../images/bg.jpg");
    font-family: 'Montserrat', sans-serif;
}

#nav {
    height: 100px;
    padding: 30px;
    margin-bottom: -100px;
}

li:hover {
    opacity: 0.5;
}

#logo:hover {
    opacity: 0.5;
}


/* Portfolio ===============================================================================*/
#row1 {
    background-image: url(https://lh3.googleusercontent.com/proxy/o_EPTBOeM59LSkhuodEpNZGy31FT08amO3azdYtnv03GGjP3f0p6H0EtszRO267NDG7puXPX4SSGEUhF_eBKFQzFwjNjWG_YtoZjQbRN14Yi66NMoptcGoXmvQ);
    background-size: cover; 
    margin: 0px;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 120px;
    padding-right: 120px;
}


.portfolio {
    padding-top: 60px;
    text-align: center;
    color: white;
}

.portfolio:hover {
    opacity: 0.5;
}

/* About Me ===============================================================================*/
.block-header {
font-family: 'Playfair Display', serif;
font-weight: bold;
padding: 10px;
}

#row2 {
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
}

#bio {
    padding-top: 20px;
}






/* Style for Web Development Page ============================================================*/



